build/
updates/
.vscode
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
buildServer.json
bin
scripts
ExportOptions.plist

# Coding Agents Prompts
.codex/
.gemini/
.github/prompts/